<div id="form-container">
    <form style="display: flex; flex-direction: column; align-items: center" id="emailForm">
        <label for="email" style="text-align: center">Automatically receive <br />breaking changes in your
            inbox.</label>
        <input type="email" placeholder="Email" id="email" style="margin-top: 25px" />
        <input type="submit" id="submit" value="Subscribe" style="margin-top: 25px" />
    </form>
</div>

<script>
    async function addToNewsletter(email) {
        const url = "https://api.nolanmiller.me/newsletter";
        const options = {
            method: "POST",
            headers: {
                "Content-Type": "application/json",
            },
            body: JSON.stringify({email: email}),
        };
        try {
            const response = await fetch(url, options);
            if (response.ok) {
                return response.json();
            }
            return {message: "There was an error. Please try again later."};
        } catch (_) {
            return {message: "There was an error. Please try again later."};
        }
    }

    var form = document.getElementById("emailForm");

    form.addEventListener("submit", async function (e) {
        e.preventDefault();

        var email = document.getElementById("email").value;

        if (!email) {
            alert("Please enter a valid email address.");
            return;
        }

        var response = await addToNewsletter(email);

        // Clear the form
        form.style.display = "none";
        document
            .querySelector("#form-container")
            .insertAdjacentHTML(
                "beforeend",
                `<p style="display: flex; flex-direction: column; align-items: center">${response.message}</p>`
            );
    });
</script>
